@import "tailwindcss";
@reference "./global.css";

:root {
  color-scheme: light;
  scroll-behavior: smooth;
  scroll-padding-top: 5rem;
}

body {
  @apply bg-bs-bg text-bs-text font-body selection:text-white selection:bg-bs-accent;
  word-break: keep-all;
  overflow-wrap: break-word;
}
