@import "tailwindcss";
@reference "./global.css";

.bs-btn {
  @apply
    active:translate-y-[0.5px]
    duration-300
    focus-visible:outline-none
    focus-visible:ring-2
    focus-visible:ring-bs-accent/50
    focus-visible:ring-offset-2
    font-semibold
    px-5
    py-4
    rounded-xl
    text-center
    transition-all
    cursor-pointer
    ;
}
