@import "tailwindcss";
@reference "./global.css";

.bs-btn {
  @apply
    active:translate-y-[1px]
    duration-200
    focus-visible:outline-none
    focus-visible:ring-2
    focus-visible:ring-bs-accent/75
    font-semibold
    px-5
    py-4
    rounded-lg
    text-center
    transition-all
    cursor-pointer
    ;
}
